body{
    font-family: Helvetica;
}

h1.dasmoto{
   font-size: 100px;
   font-weight: bold;
   text-align: center; 
   color:khaki;
   background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg) 
}

h2{
    font-size: 32px;
    font-weight: bold;
    color:white; 
}
h2.brushes{
    background: mediumspringgreen;
}

h2.frames{
    background: lightcoral;    
}

h2.paint{
    background: skyblue; 
}

mark.blue{
    font-weight: bold;
    color: blue;
    background: none;
}